<div class="container">
  <div class="row frontend-row">
    <div class="col">
      <form>
        <div class="form-group example-list">
          <div class="select-all">
            <button class="btn btn-btn btn-primary" (click)="selectAll()">select all</button>
            <button class="btn btn-btn btn-success" (click)="createProduct()">create product</button>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="id-column">id</th>
                <th scope="col">name</th>
                <th scope="col">description</th>
                <th scope="col" class="price-column">price</th>
                <th scope="col">update</th>
                <th scope="col">delete</th>
                <th scope="col">save</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of exampleProducts">
              <tr>
                <!--https://angular.io/guide/template-syntax#ngModel-->
                <td class="id-column"><input class="id-column" placeholder="id" [value]="product.id" (input)="product.id=$event.target.value"></td>
                <td><input placeholder="product" [value]="product.name" (input)="product.name=$event.target.value"></td>
                <td><input placeholder="product" [value]="product.description" (input)="product.description=$event.target.value"></td>
                <td class="price-column"><input class="price-column" placeholder="product" [value]="product.price " (input)="product.price=$event.target.value"></td>
                
                <td><button type="button" class="btn btn-warning" (click)="updateProduct(product)">update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product)">delete</button></td>
                <td><button type="button" class="btn btn-success" (click)="saveProduct(product)" *ngIf="product.save !== undefined">save</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
