body
{
  min-width: 1000px;
}

.frontend-row {
  margin: 2em;
  border: solid 1px lightgray;
  padding: 2em;
}


.content_margin
{
  margin: 10px;
}


ul {
  margin: 1em;
}

span {
  margin: 1em;
}

.id-column {
  width: 40px;
}

.price-column {
  width: 60px;
}

