<div class="container">
  <div class="frontend-row">
    <div class="col">
      <form>
        <div class="form-group">
          <div class="text-center">
            <button class="btn btn-btn btn-primary content_margin" (click)="selectAll()">Select All</button>
            <button class="btn btn-btn btn-primary content_margin" (click)="createProduct()">Create Product</button>
          </div>

          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col" class="id-column">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="price-column">Price</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
                <th scope="col">Save</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of exampleProducts">
              <tr>
                <!--https://angular.io/guide/template-syntax#ngModel-->
                <td><input class="id-column form-control" placeholder="id" [value]="product.id" (input)="product.id=$event.target.value"></td>
                <td><input class="form-control" placeholder="product" [value]="product.name" (input)="product.name=$event.target.value"></td>
                <td><input class="form-control  " placeholder="product" [value]="product.description" (input)="product.description=$event.target.value"></td>
                <td><input class="price-column form-control" placeholder="product" [value]="product.price " (input)="product.price=$event.target.value"></td>
                
                <td><button type="button" class="btn btn-warning" (click)="updateProduct(product)">Update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button></td>
                <td><button type="button" class="btn btn-success" (click)="saveProduct(product)" *ngIf="product.save !== undefined">Save</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
